.SideBar_container{
   
    width: 150px;
     height: 100%;
     background-color: #e3f0ff;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}