a{
    text-decoration: none !important;
}

.btn-body{
   
    height: 60px;
    width: 100px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s ease;
    border-radius: 5px;
    
}

.btn-body.active{
    background-color: burlywood;
}

.btn-body:hover{
    color: rgb(112, 173, 237);
}